In [25]:
import pandas as pd

In [26]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [27]:
dataset = pd.get_dummies(dataset, dtype=int)

In [28]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [29]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [30]:
independent = dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [31]:
dependent = dataset[['charges']]

In [32]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size = 0.30, random_state = 0)

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [35]:
from sklearn.ensemble import AdaBoostRegressor
regressor = AdaBoostRegressor(random_state=0, n_estimators=25)
regressor.fit(X_train, y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostRegressor(n_estimators=25, random_state=0)

In [36]:
y_pred = regressor.predict(X_test)

In [37]:
y_pred

array([14553.50784521, 13802.56972465, 47865.29543781, 14444.51254404,
       12907.00232984,  6912.31668256,  5791.61329319, 14553.50784521,
        8687.92288728,  8663.98408105,  6912.31668256, 14553.50784521,
       13802.56972465,  6912.31668256, 18971.33402691, 14553.50784521,
       14444.51254404,  8663.98408105,  6912.31668256, 37427.68127192,
       26288.19508231, 14553.50784521, 14444.51254404, 26288.19508231,
        5982.00008099,  8663.98408105,  6912.31668256,  8687.92288728,
        6912.31668256, 13802.56972465,  6912.31668256, 47865.29543781,
       14444.51254404, 14444.51254404, 18971.33402691,  6912.31668256,
       13802.56972465, 37427.68127192, 40762.69968952,  5982.00008099,
        6912.31668256,  6912.31668256, 20052.64576923, 47865.29543781,
       37427.68127192,  8663.98408105, 14553.50784521,  6912.31668256,
        6912.31668256, 14553.50784521,  5982.00008099,  5791.61329319,
       26288.19508231, 47865.29543781, 14444.51254404,  6912.31668256,
        6912.31668256, 12907.00232984, 13802.56972465, 16708.77857483,
        5791.61329319, 47865.29543781, 16708.77857483, 14553.50784521,
       13802.56972465, 14553.50784521, 37427.68127192, 40762.69968952,
        3831.92884697,  8687.92288728, 14444.51254404, 14553.50784521,
       18971.33402691, 14444.51254404, 14444.51254404, 14444.51254404,
       10035.64223063, 13802.56972465, 20052.64576923, 47865.29543781,
       14444.51254404, 46261.53943   ,  5982.00008099, 13802.56972465,
       46261.53943   , 20052.64576923,  8663.98408105,  6912.31668256,
       16708.77857483, 37427.68127192,  8663.98408105, 14444.51254404,
        6912.31668256, 13802.56972465,  6912.31668256,  8663.98408105,
       47865.29543781, 46261.53943   ,  8663.98408105, 14444.51254404,
        5982.00008099,  8687.92288728,  8663.98408105, 40762.69968952,
       26288.19508231,  6912.31668256, 14444.51254404,  6912.31668256,
       14444.51254404, 47865.29543781, 14553.50784521,  8663.98408105,
       13802.56972465, 37427.68127192, 47865.29543781,  6912.31668256,
        3831.92884697, 12907.00232984, 16708.77857483, 13802.56972465,
       46261.53943   , 14444.51254404, 14444.51254404,  8663.98408105,
       13802.56972465,  6912.31668256, 26288.19508231, 26288.19508231,
       47865.29543781,  5982.00008099, 13802.56972465,  8663.98408105,
        8687.92288728, 12907.00232984, 26288.19508231, 40762.69968952,
       26288.19508231, 14553.50784521, 26288.19508231,  5791.61329319,
        5982.00008099, 14444.51254404, 13802.56972465, 14444.51254404,
        6912.31668256, 14444.51254404, 16708.77857483,  5791.61329319,
        3831.92884697, 14553.50784521,  6912.31668256, 37427.68127192,
       14553.50784521,  8663.98408105,  8663.98408105,  8687.92288728,
        8663.98408105,  5791.61329319, 14553.50784521, 13802.56972465,
        8663.98408105, 14444.51254404, 14444.51254404, 14553.50784521,
        6912.31668256,  8663.98408105, 18971.33402691,  8663.98408105,
        6912.31668256,  5982.00008099,  8663.98408105,  6912.31668256,
       13802.56972465,  6912.31668256,  8663.98408105,  8663.98408105,
        6912.31668256,  6912.31668256, 26288.19508231,  5791.61329319,
       14553.50784521,  8687.92288728, 14444.51254404,  6912.31668256,
        6912.31668256, 26288.19508231,  5982.00008099,  5791.61329319,
       14444.51254404, 13802.56972465, 47865.29543781,  8663.98408105,
        6912.31668256, 26288.19508231,  6912.31668256,  6912.31668256,
        8687.92288728,  8663.98408105,  8663.98408105,  6912.31668256,
       14553.50784521, 47865.29543781, 14553.50784521, 18971.33402691,
        8663.98408105, 47865.29543781,  6912.31668256, 14444.51254404,
        8687.92288728,  5982.00008099, 13802.56972465, 14444.51254404,
        6912.31668256,  5982.00008099,  6912.31668256,  6912.31668256,
        6912.31668256,  6912.31668256, 16708.77857483,  6912.31668256,
        8663.98408105,  6912.31668256, 12688.01585126,  6912.31668256,
       14444.51254404, 14444.51254404, 14553.50784521, 14444.51254404,
        6912.31668256,  6912.31668256,  5982.00008099, 13802.56972465,
       14444.51254404,  8663.98408105,  6912.31668256,  8687.92288728,
       13802.56972465, 37427.68127192,  6912.31668256, 14553.50784521,
        6912.31668256, 37427.68127192,  8687.92288728, 12688.01585126,
       13802.56972465, 14553.50784521,  5791.61329319, 13802.56972465,
        5791.61329319,  6912.31668256, 18971.33402691, 47865.29543781,
        8663.98408105,  8663.98408105,  5791.61329319,  5791.61329319,
       13802.56972465,  5982.00008099,  6912.31668256,  6912.31668256,
       13802.56972465, 26288.19508231, 47865.29543781, 16708.77857483,
        6912.31668256, 14444.51254404, 37427.68127192, 13802.56972465,
       40762.69968952,  5982.00008099, 37427.68127192,  8663.98408105,
       14553.50784521,  6912.31668256, 40762.69968952,  8663.98408105,
       14444.51254404, 13802.56972465,  8663.98408105, 16708.77857483,
       14444.51254404,  6912.31668256, 14444.51254404,  5982.00008099,
        8687.92288728,  8663.98408105,  8687.92288728, 26288.19508231,
        8663.98408105,  5791.61329319,  3831.92884697, 47865.29543781,
       13802.56972465,  8663.98408105, 14553.50784521, 14553.50784521,
       37427.68127192,  6912.31668256,  8687.92288728, 12907.00232984,
        5982.00008099,  8663.98408105, 18971.33402691, 18971.33402691,
       14444.51254404,  6912.31668256,  8663.98408105, 13802.56972465,
       14444.51254404, 18971.33402691, 20052.64576923,  8663.98408105,
       18971.33402691,  5982.00008099,  6912.31668256,  6912.31668256,
       12688.01585126,  3831.92884697, 12688.01585126, 47865.29543781,
        8663.98408105,  8663.98408105,  3831.92884697, 12688.01585126,
        6912.31668256, 14444.51254404, 47865.29543781, 18971.33402691,
       13802.56972465, 46261.53943   , 14553.50784521,  8663.98408105,
       14553.50784521,  8663.98408105, 26288.19508231,  6912.31668256,
       14444.51254404,  5791.61329319, 18971.33402691,  6912.31668256,
       26288.19508231,  6912.31668256,  6912.31668256, 37427.68127192,
        8663.98408105,  6912.31668256, 26288.19508231,  5982.00008099,
       13802.56972465,  5791.61329319, 13802.56972465,  6912.31668256,
        8663.98408105,  8663.98408105, 47865.29543781, 12688.01585126,
       37427.68127192, 37427.68127192,  6912.31668256,  8687.92288728,
        5791.61329319,  6912.31668256,  8663.98408105, 13802.56972465,
       47865.29543781, 14444.51254404,  5791.61329319, 14444.51254404,
        5982.00008099, 12688.01585126,  6912.31668256,  5982.00008099,
        6912.31668256, 37427.68127192,  6912.31668256,  3831.92884697,
       40762.69968952, 14553.50784521, 47865.29543781, 14444.51254404,
        8663.98408105,  3831.92884697,  5791.61329319, 14553.50784521,
        6912.31668256,  5982.00008099, 14553.50784521,  6912.31668256,
        6912.31668256,  6912.31668256,  5791.61329319, 37427.68127192,
        5982.00008099, 12907.00232984,  5982.00008099,  8687.92288728,
       14444.51254404,  8663.98408105, 18971.33402691, 14444.51254404,
       16708.77857483, 14444.51254404])

In [38]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test, y_pred)
r_score

0.8618083410771147

In [39]:
import pickle 
filename = "finalized_model_Ada_Boost.sav"
pickle.dump(regressor,open(filename,'wb'))