In [261]:
import pandas as pd

In [262]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [263]:
dataset = pd.get_dummies(dataset, dtype=int)

In [264]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [265]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [266]:
independent = dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [267]:
dependent = dataset[['charges']]

In [268]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [269]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size = 0.30, random_state = 0)

In [270]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [271]:
from sklearn.svm import SVR  # importing Support vector machine model.
regressor = SVR(kernel = "rbf",C = 3000) # we are giving solution in linear,rbf(Circle),poly(parabola),sigmoid(S - shape), way
regressor.fit(X_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=3000)

In [272]:
regressor.intercept_

array([17244.52938944])

In [273]:
regressor.n_support_

array([936])

In [274]:
regressor.support_

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935])

In [275]:
y_pred = regressor.predict(X_test)

In [276]:
y_pred

array([10157.633792  ,  8819.39959523, 47487.82272604, 12790.02876976,
       10287.21088296,  4020.80489505,  2223.78011396, 11423.65298191,
        7235.30738382,  5101.27456152,  6856.98376693, 10500.0600645 ,
        7525.55604672,  4463.32419728, 23328.39110154, 11166.92841769,
       12531.01955195,  3033.68261787,  6498.73811628, 25456.87535738,
       24259.37302087, 12818.9396174 , 10034.7076516 , 28098.08455769,
        1858.75550936,  3906.81909437,  4162.94162493,  7801.42573395,
        3989.73029461,  8498.99783345,  7819.89185017, 45969.20956395,
       13209.57353049, 10519.94240414, 14646.011738  ,  3748.70354351,
        8392.79957973, 39446.30009582, 37023.52226321,  2174.84345656,
        5505.98669093,  3003.19229976, 23321.34461179, 44370.99996912,
       34330.61246196,  3581.22232704, 11160.23063101,  6896.11319634,
        4070.99712318, 12277.1053637 ,  2396.96517486,  3985.57591066,
       29135.45639495, 40370.7387657 , 12055.49520443,  2663.22562913,
        2338.79148095,  8841.82424085,  9330.55431188, 13076.07955671,
        1705.71086841, 33863.19106102, 14123.198191  , 10085.12140706,
       10143.8311401 , 10023.14332907, 24435.1866385 , 34396.00430823,
        3462.51099812,  7642.91331453, 13331.89045078, 12035.2178137 ,
       19721.38445952, 13898.39244654, 13005.7235541 , 12972.62327486,
        7523.91828284,  8178.72190693, 22417.88912798, 43574.78060462,
       11502.40833571, 42633.59329382,  1902.5076453 ,  7764.66801245,
       41482.75537073, 19926.3409835 ,  3401.02810902,  2451.50332678,
       12782.75437463, 36598.44741751,  5773.6884509 , 10644.49985799,
        2852.81879379,  8845.10136111,  3904.46536812,  4553.64551449,
       34710.70941164, 32116.5633163 ,  5048.99311538, 10853.87852705,
        2000.93918126,  5025.87985307,  4477.77870652, 36965.33319295,
       26975.93586971,  3380.45886847, 11054.69250284,  3135.00962902,
       11727.64113616, 37898.09351307, 12404.68737122,  4469.46119419,
        9153.77533511, 26761.73198928, 46280.26689407,  7673.13169706,
        2039.97496141,  8840.15134382, 12593.74049454,  9390.52513984,
       39980.85605645, 10580.2956153 , 14113.1412137 ,  4863.32325951,
        7818.0591225 ,  4742.05528019, 25889.47537378, 19988.11659834,
       42856.5120323 ,  1759.09624802,  8551.72678745,  2102.56997208,
        6059.66724165,  9244.03790196, 30629.56940007, 29721.17095627,
       21695.96871779, 10439.23696467, 22483.05245651,  2621.58458078,
        2225.45015495, 10662.28096794,  9457.12921443, 10219.56965317,
        4685.87701744, 14273.13238182, 13093.89088907,  3627.89493182,
        1615.80158005, 10913.10745944,  6042.31252741, 41425.51798941,
        9730.35541892,  2162.49951912,  2534.68995198,  6625.41532505,
        2515.55360882,  2158.46527729, 11166.1341167 , 10079.25550305,
        4378.09140012, 13097.79213451, 12984.51998252,  9411.57308577,
        4458.5224472 ,  4424.76086212, 14989.41737346,  5521.16615643,
        4037.00708825,  2175.32937585,  3977.27418301,  4191.7281451 ,
        8238.35006946,  2059.5041187 ,  4363.59143692,  4520.13517389,
        4078.65681427,  5961.17862694, 32421.43271263,  1625.19348265,
       11343.11516725,  6535.09376374, 11354.06540377,  2533.68685274,
        5443.23277158, 29557.45606082,  1912.79218703,  2697.20332156,
       14358.0719325 , 10241.77837464, 35815.66338108,  4154.79466298,
        5489.34425836, 23362.48202849,  2192.3476885 ,  2163.81942268,
        6220.13770657,  5968.03315175,  4125.197049  ,  4060.58047199,
       11326.49940087, 38645.22752107, 12458.28192903, 20324.96165218,
        4371.05096453, 45333.84411169,  3598.09947269,  9442.76429231,
        5868.38736439,  2419.25737274,  8673.64514283, 13668.45915501,
        4944.65049234,  2451.70566346,  6586.31333148,  2101.03429085,
        6342.79331222,  4739.5043106 , 14407.87164993,  7007.14655137,
        6205.16091699,  7625.82937106,  8670.4900783 ,  2961.17302198,
       12195.07599685, 13943.06099059, 12645.72113425, 12271.78271637,
        7154.80137878,  2300.84621239,  1635.61274109,  7674.04654367,
       12525.47755014,  4759.40115609,  4489.73232635,  7208.87136286,
        9132.44045986, 27242.9067608 ,  5757.34772616, 11475.29618546,
        5643.73615092, 32163.03905945,  7466.57242007,  7147.11556914,
        8312.68793695, 10500.06392449,  3090.211253  ,  7455.81101459,
        2592.51758774,  6571.4403685 , 25805.80237795, 37129.55981945,
        4139.75349832,  3241.82435534,  2184.10659684,  1565.89208002,
        7609.22797099,  2008.35036244,  4297.48039888,  3472.49930215,
        9304.25779383, 29265.44913718, 36783.65653871, 15039.62231557,
        6592.62332963, 11224.96092636, 38374.87453838,  9412.80499163,
       31805.40034864,  1551.50167168, 37297.8572827 ,  4788.15918465,
       12827.05496427,  3933.95041501, 40090.06174133,  4970.53815023,
        9867.90082878, 10019.85021221,  2284.24836091, 13526.67522145,
       12247.50684635,  3883.67157052, 12576.84580818,  2162.44060485,
        5357.95468407,  3886.29340012,  8779.42371224, 23446.06207657,
        3732.19177329,  1611.44886341,  2866.9386755 , 43591.79373231,
        9149.86097552,  4305.59067089, 12448.2170908 , 11699.20471918,
       28447.332033  ,  6606.05762234,  4943.31723745,  8678.66655721,
        1684.44303237,  3155.46123247, 14878.50177767, 18659.36415218,
       13684.57954913,  2312.24053013,  3228.48339379,  9026.16285989,
        9459.22342094, 14922.56025489, 22877.35265073,  6020.61471973,
       15527.76645187,  2204.92842463,  5630.32186541,  3916.35826834,
        8448.23704987,  2753.26112656,  6520.4021783 , 44776.19551188,
        3659.28098019,  3543.23652765,  2371.41722345,  8603.96420988,
        3293.09242792, 12327.48987264, 39985.79285693, 16069.07534509,
        9056.14982894, 45486.24384536, 13183.24951458,  4358.42485651,
        9801.30510379,  4033.04322951, 32041.33097213,  4572.47839601,
       13391.32239398,  2055.93491105, 17332.30693448,  3166.63720426,
       24933.22442172,  5849.52549155,  2106.75732854, 41525.47765339,
        5327.20696073,  5147.39793132, 31885.09799259,  1687.92881361,
        8392.45251718,  2972.13787853, 11724.17833428,  3448.08139045,
        5017.01963406,  4896.81165562, 39577.64121552,  8852.43910763,
       30655.7983759 , 38803.52361304,  5755.78688117,  8567.4410521 ,
        1703.94159961,  3259.16394425,  3419.5808564 ,  8464.54177654,
       41304.96065338, 11413.12539517,  2300.23523579, 12162.71739419,
        2179.86137115,  7607.80310775,  3651.06092078,  2431.3200233 ,
        3107.84639366, 35099.75910685,  6956.47299627,  2449.57372859,
       43314.06876628, 11208.71363738, 41038.75424422, 11782.4070908 ,
        4095.18644728,  2132.01106809,  2310.69976001, 10614.64948471,
        4976.1717062 ,  2108.78919482, 10587.40757942,  7236.06989256,
        6211.47137438,  4145.58911859,  2619.89240203, 41656.03313352,
        1826.30911484,  9417.39671025,  2048.11942169,  6986.88181326,
       10863.1569033 ,  3150.124549  , 18309.62620439, 10505.54943879,
       14401.16456328, 13702.570235  ])

In [277]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test, y_pred)
r_score

0.8685317919090657

In [278]:
import pickle 
filename = "finalized_model_SVM.sav"
pickle.dump(regressor,open(filename,'wb'))